*{
    margin: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    scroll-behavior: smooth;
}
#topo{
    background-color: rgb(5,26,43);
    width: 100%;
    
}
#topo nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#lista{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
#lista li a{
    margin: 10%;
    justify-content: space-around;
    font-size: 1.5rem;
    font-weight: bolder;
    text-decoration: none;
    color: white;
}
#logo{
    width: 20%;
    margin-left: -5%;
}
#corpo{
    width: 100%;
}
#home{
    width: 100%;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#banner{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: solid 4px black;
    border-radius: 10px;
}
#home h1{
    padding: 2%;
}