*{
    margin: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    scroll-behavior: smooth;
}
#topo{
    background-color: rgb(5,26,43);
    width: 100%;
}
#topo nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#lista{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
#lista li a{
    margin: 10%;
    justify-content: space-around;
    font-size: 1.5rem;
    font-weight: bolder;
    text-decoration: none;
    color: rgb(255, 255, 255);
}
#logo{
    width: 20%;
    margin-left: -5%;
}
#corpo{
    width: 100%;
}
#primeira_pagina{
    width: 100%;
}
#primeira_pagina h1{
    text-align: center;
    padding: 2%;
    color: rgb(255, 255, 255) ; 
    background-color: rgb(5,26,43);
}
#imagem_home{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

