#usuarioTable {
    margin: 0 auto;
    text-align: center;
    font-size: 16px;
    background-color: white;
  }
  
  #usuarioTable th, #usuarioTable td {
    padding: 10px;
  }
  
  #usuarioTable th {
    font-weight: bold;
    background-color: #007bff;
    color: #fff;
  }
  
  #usuarioTable tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  #usuarioTable a {
    color: #007bff;
    text-decoration: none;
  }
  
  #usuarioTable a:hover {
    color: #0056b3;
  }
  body {
    font-family: 'Open Sans', sans-serif;
  }
  h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 2em;
    font-weight: bold;
  }
  
  p {
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    line-height: 1.5;
  }
  a:hover {
    background-color: #ffc107;
    color: white;
    transition: background-color 0.5s, color 0.5s;
}